@CHARSET "UTF-8";

body {
	margin-right: auto;
	margin-left : auto;
	background-color: ivory;
}

/* テーブルの奇数行・偶数行 */
tr:nth-child(2n+1) {
	background-color: palegreen;
}
tr:nth-child(2n) {
	background-color: snow;
}

input#buttonToSearch {
	background-color: whitesmoke;
}
