@CHARSET "UTF-8";

body {
	margin-right: auto;
	margin-left : auto;
	background-color: ivory;
}

td.even {
	background-color: palegreen;
}
td.odd {
	background-color: snow;
}

input#buttonToSearch {
	background-color: whitesmoke;
}
