@CHARSET "UTF-8";

body {
	width:700px;
}

h1 {
	font-size:100%;
}

form {
	align: center;
}

input {
}

input[type="text"] {
	height:30px;
	font-size:24px;
	margin:5px;
}

input#buttonToSearch {
	width:32px;
	height:32px;
	padding:5px;
    background: url(../img/reading_glass_32.png) left top no-repeat;
}

p {
	font-size:100%;
}

table {
	width:100%;
	border:0;
}

td {
	padding:3px 6px;
	font-size:100%;
}

a {
	padding:2px 4px;
}
