@CHARSET "UTF-8";


h1 {
	font-size:500%;
}

input {
	font-size:400%;
}

button#buttonToSearch {
	width:128px;
	height:128px;
    background: url(../img/reading_glass_128.png) left top no-repeat;
}

p {
	font-size:400%;
}

table {
	border:0;
}

td {
	font-size:400%;
}

a {
	padding:5px 10px;
}
