@CHARSET "UTF-8";

body {
	width:90%;
}

h1 {
	font-size:300%;
}

form {
	align: center;
}

input {
}

input[type="text"] {
	height:64px;
	font-size:52px;
	margin:10px;
}

input#buttonToSearch {
	width:64px;
	height:64px;
	padding:10px;
    background: url(../img/reading_glass_64.png) left top no-repeat;
}

p {
	font-size:250%;
}

table {
	width:100%;
	border:0;
}

td {
	padding:10px 10px;
	font-size:250%;
}

a {
	padding:10px 10px;
}